* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'segoe ui', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #192854, #4993cc);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 480px;
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 17px;
    box-shadow: 0 24px 60px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    font-size: 28px;
    color: #192854;
    text-align: center;
    margin-bottom: 4px;
}

/* Slider estilizado */
input[type="range"] {
    width: 100%;
    accent-color: #6eb400;
    cursor: pointer;

}

/* Checkbox */
.opcion {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 13px;
    border-radius: 8px;
    transition: background 0.2s;
}

.opcion:hover {
    background: #fff;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    accent-color: #6eb400;
    cursor: pointer;
}

label {
    font-size: 13px;
    color: #192854;
    cursor: pointer;
}

/* Botón generar */
#btn-generar {
    width: 100%;
    padding: 17px;
    background-color: #192854;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 8px;
}

#btn-generar:hover {
    background-color: #4993cc;
    transform: translateY(-2px);
}

/* Caja de resultados */
.resultado {
    background: #f8f9fa;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    min-height: 60px;
}

#password-generado {
    font-family: 'Courier New', monospace;
    font-size: 13px;
    color: #192854;
    font-weight: 600;
    word-break: break-all; /* Evita desborde */
    flex: 1;
}

/* Botón Copiar */
#btn-copiar {
    background: #4993cc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    transition: background 0.3s ease;
    white-space: nowrap;
    flex-shrink: 0; 
}

#btn-copiar:hover {
    background: #6eb400;
}

/* Mensaje de Copiado */
#mensaje-copia {
    text-align: center;
    font-size: 13px;
    color: #00c896;
    min-height: 20px; /* No salta el layout */
}
